
# OSX
#
.DS_Store

xcuserdata/
*.xcscmblueprint
*.xccheckout

build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

*.hmap

*.ipa
*.dSYM.zip
*.dSYM

timeline.xctimeline
playground.xcworkspace

// Pods
*.lock
/Pods
symroot

// Firebase
GoogleService-Info.plist

// Config
Shared/Config/Dev/Dev.xcconfig
Shared/Config/Prod/Prod.xcconfig
Shared/Config/Staging/Staging.xcconfig
Frameworks/Arkana/ArkanaKeys/Sources/ArkanaKeys.swift
Frameworks/Arkana/.env
klever-browser-ios/Sources/KleverBrowser/www/app/node_modules
